.Checkout_card_details {
  margin: 30px 0px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Checkout_cardElement {
  margin: 20px;
  border: 1px solid #bfbfbf;
  padding: 10px;
  border-radius: 10px;
}
