.navbar_logout {
    position: absolute;
    bottom: -60px;
    border: 1px solid #bfbfbf;
    padding:10px 20px;
    background:white;  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .navbar_logout :hover{
    color: #000;
  }
  .navbar_logout{
 display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  }

  @media screen and (max-width: 940px) {
    .cart-count{
      margin-top: 7.5rem;
      padding-left: 1px;
    }
  }